@import "tailwindcss";


/* =========================
   THEME VARIABLES
========================= */

:root {
  /* Colors - Light Theme */
  --color-bg: #EDEEF0;
  --color-text: #4B4B4B;
  --color-text-secondary: #686868;
  --color-muted: #686868;
  --color-primary: #F88379;
   --base-black: #343A40;
  --grey-base: #6C757D;
}

.dark {
  /* Colors - Dark Theme */
  --color-bg: #111111;
  /* --color-text: #ffffff;
  --color-muted: #cfcfcf;
  --color-primary: #F88379;
  --base-black: #F1F3F5; 
  --grey-base: #ADB5BD;
  --color-text-secondary: #CFCFCF; */
    --color-text: #4B4B4B;
  --color-text-secondary: #686868;
  --color-muted: #686868;
  --color-primary: #F88379;
   --base-black: #343A40;
  --grey-base: #6C757D;
}

/* =========================
   GLOBAL BASE
========================= */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Poppins";
}


/* =========================
   CUSTOM UTILITY CLASSES
========================= */

.bg-theme {
  background-color: var(--color-bg);
}

.text-theme {
  color: var(--color-text);
}

.text-muted {
  color: var(--color-muted);
}

.text-primary {
  color: var(--color-primary);
}















  

  
